<@controller
class="APF\modules\usermanagement\pres\documentcontroller\UserNavigationController"
@>
<getstring:expression
      namespace="APF\modules\usermanagement\pres"
      config="labels.ini"
      />
   <div class="umgt-menu">
      <a href="${manage_user}" title="${getstring->getValue('frontend.user.navi.list.label')}">
         ${getstring->getValue('frontend.user.navi.list.label')}
      </a>
      &nbsp;|&nbsp;
      <a href="${user_add}" title="${getstring->getValue('frontend.user.navi.add.label')}">
         ${getstring->getValue('frontend.user.navi.add.label')}
      </a>
   </div>

<core:importdesign namespace="APF\modules\usermanagement\pres\templates\user"
                   template="[userview = list]"
                   incparam="userview"
      />